
  <div class="row jumbo">
    <div class="span8">build software for dogs</div>
    <div class="span4">log in yo</div>
  </div>
  <div class="row selling-points">
    <div class="span4">one</div>
    <div class="span4">two</div>
    <div class="span4">three</div>
  </div>
  <div class="row green-bar">
    <div class="span12">
      <i class="icon-lock"></i>
      Collaborate on private repositories when you sign up for a paid individual or organization plan.</div>
  </div>