
  <div class="row jumbo">
    <div class="span8">build software for dogs</div>
    <div class="span4">log in yo</div>
  </div>
  <div class="row selling-points">
    <div class="span4">
      <div class="selling-point">
        <%= image_tag 'dog1.jpeg' %>
        <div class="teaser-title">
        Great collaboration starts with communication.
        </div>
        <div class="teaser-text">
  Review changes, comment on lines of code, report issues, and plan the future of your project with flexible discussion tools.
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="selling-point">
        <%= image_tag 'dog2.jpeg' %>
        <div class="teaser-title">
        Great collaboration starts with communication.
        </div>
        <div class="teaser-text">
  Review changes, comment on lines of code, report issues, and plan the future of your project with flexible discussion tools.
        </div>

      </div>
    </div>
    <div class="span4">
      <div class="selling-point">
        <%= image_tag 'dog3.jpeg' %>
        <div class="teaser-title">
        Great collaboration starts with communication.
        </div>
        <div class="teaser-text">
  Review changes, comment on lines of code, report issues, and plan the future of your project with flexible discussion tools.
        </div>
      </div>
    </div>
  </div>
  <div class="row green-bar">
    <div class="span12">
      <i class="icon-lock"></i>
      Collaborate on private repositories when you sign up for a paid individual or organization plan.</div>
  </div>