/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";


.jumbo {

  background: blue;
  height:200px;
}

header {
  background: white;
}

$blue: #4183c4;

.header-links{
  list-style: none;
  padding-left: 30px;
  
  li {
    display: inline-block;
    padding: 18px 10px 10px 15px;

    &:hover a {
      text-decoration: none;
      color: $blue;
    }

    a {
      color: #444;
      font-weight: bold;

    }
  }
}


.selling-points {
  .selling-point {
    margin: 40px 20px;

  }
  div {
    text-align: center;
  }
  img {
    height: 100px;
    width: 255px;
  }
  .teaser-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  .teaser-text {
    margin: 10px;

  }
}
.green-bar {
  background: rgb(249, 220, 232);
  height: 70px;
}
.stuff-lists {
  background: gray;
   height: 100px;
}

